<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ name }}
            </p>
            <p class="card-header-icon has-text-primary">
                {{ score.toFixed(2) }}
            </p>
        </header>
        <div class="card-content">
            <b-table
                v-show="tableData.length"
                class="is-small"
                :data="tableData"
                striped
                narrowed
            >
                <template slot-scope="props">
                    <b-table-column
                        label="name"
                        centered
                    >
                        {{ props.row.name }}
                    </b-table-column>
                    <b-table-column
                        label="function"
                        centered
                    >
                        {{ props.row.function }}
                    </b-table-column>
                    <b-table-column
                        label="secs"
                        centered
                    >
                        <span class="has-text-grey-light">
                            {{ props.row.sec }}</span>/{{ props.row.secs }}
                    </b-table-column>
                    <b-table-column
                        label="iters"
                        centered
                    >
                        <span class="has-text-grey-light">
                            {{ props.row.iter }}</span>/{{ props.row.iters }}
                    </b-table-column>
                    <b-table-column
                        custom-key="delete"
                    >
                        <a
                            @click="props.row.active = false"
                            title="deactivate contract"
                        > × </a>
                    </b-table-column>
                </template>
            </b-table>
            <div
                v-show="!tableData.length"
                class="has-text-grey has-text-centered"
            >
                <p>No active contracts.</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TeamPanel',
    props: {
        name: String,
        score: Number,
        placedContracts: Array
    },
    data: function () {
        return {

        }
    },
    computed: {
        tableData() {
            return this.placedContracts
            .filter((item) => (
                item.active && item.team === this.name
            ))
        }
    }
}
</script>

<style scoped>
.card-header {
    font-size: 120%;
}

.card-content {
    padding: 0;
    padding-top: 5px;
}
</style>
