<template>
    <div id="app">
        <div class="my-section control-panel">
            <div class="field is-grouped">
                <b-autocomplete
                    class="is-expanded"
                    custom-class="control-panel"
                    ref="entry"
                    v-model="entry"
                    :data="filteredContracts"
                    placeholder="[function] [secs] [iters] [name]"
                    @select="option => selected = option"
                    open-on-focus
                ></b-autocomplete>
                <div class="buttons">
                <b-button
                    v-for="t of teams"
                    :key="t.id"
                    class="control-panel is-primary"
                    @click="addContractToOne(t.shortName)"
                    outlined
                >
                    {{ t.shortName }}
                </b-button>
                <b-button
                    class="control-panel is-primary"
                    @click="addContractToEveryone()"
                    outlined
                >
                    VŠETCI
                </b-button>
                </div>
            </div>
        </div>

        <div class="my-section">
            <div class="columns">
                <div
                    class="column"
                    v-for="t of teams"
                    :key="t.id"
                >
                    <TeamPanel
                        :name="t.shortName"
                        :score="t.score"
                        :placed-contracts="placedContracts"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TeamPanel from './components/TeamPanel.vue'

export default {
    name: 'app',
    components: {
        TeamPanel
    },
    data: function() {
        return {
            // eslint-disable-next-line no-undef
            teams: TEAMS,
            // eslint-disable-next-line no-undef
            availableContracts: CONTRACTS,
            entry: '',
            selected: null,
            placedContracts: []
        };
    },
    computed: {
        filteredContracts() {
            return this.availableContracts.filter((option) => {
                return option.indexOf(this.entry) >= 0
            })
        }
    },
    methods: {
        addContract(shortName, entry) {
            let wannabe = entry.split(' ')
            let isOk = false
            try {
                isOk = (
                    wannabe.length >= 3 && wannabe[0].length &&
                    wannabe[1] !== '' && !isNaN(wannabe[1]) && eval(wannabe[1]) > 0 &&
                    Number.isInteger(eval(wannabe[1])) &&
                    wannabe[2] !== '' && !isNaN(wannabe[2]) && eval(wannabe[2]) > 0 &&
                    (Number.isInteger(eval(wannabe[2])) || eval(wannabe[2]) === Infinity) &&
                    !isNaN(eval(wannabe[0].replace('X', 1).replace('T', 1)))
                )
            } catch {
                isOk = false
            }
            if (isOk) {
                let newContract = {
                    function: wannabe[0],
                    secs: eval(wannabe[1]),
                    iters: eval(wannabe[2]),
                    name: (wannabe.length<4 ? '' : wannabe[3]),
                    team: shortName,
                    sec: 0,
                    iter: 0,
                    active: true
                }
                this.placedContracts.push(newContract)
                if (this.availableContracts.indexOf(entry) < 0) {
                    this.availableContracts.push(entry)
                }
                return true
            } else {
                return false
            }
        },
        contractAddSuccess() {
            this.$toast.open({
                message: 'Kontrakt pridaný!',
                type: 'is-success',
                position: 'is-bottom',
                duration: 800
            })
        },
        contractAddFail() {
            this.$snackbar.open({
                message: 'Nesprávne zadaný kontrakt!<br>(možné dôvody: malé X a T, málo/veľa medzier)',
                type: 'is-danger',
                duration: 10000
            })
        },
        addContractToOne(shortName) {
            if (this.addContract(shortName, this.entry)) {
                this.entry = ''
                this.contractAddSuccess()
            } else {
                this.contractAddFail()
            }
            this.$refs.entry.focus()
        },
        addContractToEveryone() {
            var podariloSa = false
            for (let t of this.teams) {
                podariloSa = this.addContract(t.shortName, this.entry)
            }
            if (podariloSa) {
                this.entry = ''
                this.contractAddSuccess()
            } else {
                this.contractAddFail()
            }
            this.$refs.entry.focus()
        },
        update() {
            for (let contract of this.placedContracts) {
                if (contract.active) {
                    contract.sec++
                    if (contract.sec === contract.secs) {
                        contract.sec = 0
                        contract.iter++
                    }
                    if (contract.iter === contract.iters) {
                        contract.active = false
                    }
                    if (contract.sec === 0 && contract.iter > 0) {
                        // cize prave sa zvysila iter
                        for (let t of this.teams) {
                            if (t.shortName === contract.team) {
                                t.score = eval(
                                    contract.function
                                    .replace('X', t.score)
                                    .replace('T', contract.iter)
                                )
                            }
                        }
                    }
                }
            }
        }
    },
    mounted: function () {
        this.$nextTick(() => {
            setInterval(() => {
                this.update()
                localStorage.setItem(
                    'scores',
                    JSON.stringify(this.teams.map((item) => (item.score)))
                )
            }, 1000)
            this.$refs.entry.focus()
        })
    }
}
</script>

<style>
#app {
    font-family: monospace !important;
    font-size: 8pt;
}

.my-section {
    margin: 2rem;
}

.control-panel {
    font-family: monospace !important;
    font-size: 12pt;
}
</style>
