<template>
    <div id="app">
        <div
            v-for="(t, i) of teams"
            :key="t.id"
            :style="barStyles[i]"
        >
            <div :style="scoreStyle">
                {{ scores[i].toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ' ') }}
            </div>
            <div :style="nameStyles[i]">
                {{ t.fullName }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'app',
    data: function() {
        // eslint-disable-next-line no-undef
        var teams = TEAMS
        // eslint-disable-next-line no-undef
        var style = STYLE
        return {
            style: style,
            teams: teams,
            N: teams.length,
            scores: teams.map((item) => (item.score)),
        };
    },
    computed: {
        barStyles() {
            var styles = []
            for (let i = 0; i < this.N; i++) {
                styles.push({
                    'position': 'fixed',
                    'width': this.style.barW+'%',
                    'height': (this.style.barMaxH/Math.max(...this.scores)*this.scores[i])+'%',
                    'min-height': this.style.barMinH,
                    'bottom': '6px',
                    'left': (this.style.barMar+(100-2*this.style.barMar)/(this.N-1)*i-this.style.barW/2)+'%',
                    'background-image': 'linear-gradient(white, '+this.teams[i].color+')',
                    'box-shadow': '0px 0px 4px 1px '+this.teams[i].color
                })
            }
            return styles
        },
        nameStyles() {
            var styles = []
            for (let i = 0; i < this.N; i++) {
                styles.push({
                    'width': '100%',
                    'position': 'absolute',
                    'top': '0.1em',
                    'font-family': 'score-font, sans-serif',
                    'font-size': 100/this.style.barW*this.style.nameTextZoom+'vw',
                    'color': this.teams[i].color,
                    'text-align': 'center',
                })
            }
            return styles
        },
        scoreStyle() {
            return {
                'width': '600%',
                'position': 'absolute',
                'top': '-1.5em',
                'left': '-250%',
                'font-family': 'score-font, sans-serif',
                'font-size': 100/this.style.barW*this.style.scoreTextZoom+'vw',
                'color': 'white',
                'text-align': 'center'
            }
        }
    },
    methods: {
        updateScores() {
            this.scores = JSON.parse(localStorage.getItem('scores'))
        }
    },
    mounted: function () {
        this.$nextTick(() => {
            this.updateScores()
            window.addEventListener('storage', () => {
                this.updateScores()
            })
        })
    }
}
</script>

<style>
@font-face {
  font-family: 'score-font';
  src: url('./assets/fonts/KumarOne-Regular.ttf') format('truetype');
}

html, body, #app {
    background-image: linear-gradient(#222 0%, #333 80%, #555 100%);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
</style>
